<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.jdt.ui.java"
            class="org.seasar.ymir.eclipse.wizards.NewProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/newYmirProject.gif"
            id="org.seasar.ymir.eclipse.wizards.NewProjectWizard"
            name="%newWizard.name"
            project="true">
         <description>
            %newWizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%plugin.name"
            class="org.seasar.ymir.eclipse.preferences.ViliPreferencePage"
            id="org.seasar.ymir.eclipse.preferences.viliPreferencePage">
      </page>
      <page
            category="org.seasar.ymir.eclipse.preferences.viliPreferencePage"
            class="org.seasar.ymir.eclipse.preferences.TemplatePreferencePage"
            id="org.seasar.ymir.eclipse.preferences.templatePreferencePage"
            name="Template">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.seasar.ymir.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.seasar.ymir.eclipse.properties.ViliPropertyPage"
            id="org.seasar.ymir.eclipse.properties.viliPropertyPage"
            name="%plugin.name">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enabledWhen>
      </page>
   </extension>

</plugin>
