<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.seasar.ymir.eclipse.veProjectNature"
         name="Ve Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.seasar.ymir.eclipse.natures.VeProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.seasar.ymir.eclipse.javaObjectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.ymir.eclipse.menu"
               label="%plugin.name"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.ymir.eclipse.veProjectNature" />
               <or>
                  <objectState
                        name="name"
                        value="*Page.java"/>
                  <objectState
                        name="name"
                        value="*PageBase.java"/>
               </or>
            </and>
         </visibility>
         <action
               class="org.seasar.ymir.eclipse.actions.TogglePageAndHtmlAction"
               icon="icons/togglePageAndHtml.gif"
               id="org.seasar.ymir.eclipse.togglePageAndHtmlAction"
               label="%action.togglePageAndHtml"
               menubarPath="org.seasar.ymir.eclipse.menu/additions"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.ymir.eclipse.javaObjectContribution"
            nameFilter="*.html"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.ymir.eclipse.menu"
               label="%plugin.name"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.seasar.ymir.eclipse.veProjectNature" />
         </visibility>
         <action
               class="org.seasar.ymir.eclipse.actions.CreateSourceAction"
               icon="icons/createSource.png"
               id="org.seasar.ymir.eclipse.createSourceAction"
               label="%action.createSource"
               menubarPath="org.seasar.ymir.eclipse.menu/additions">
         </action>
         <action
               class="org.seasar.ymir.eclipse.actions.ViewOnServerAction"
               icon="icons/viewOnServer.gif"
               id="org.seasar.ymir.eclipse.viewOnServerAction"
               label="%action.viewOnServer"
               menubarPath="org.seasar.ymir.eclipse.menu/additions">
         </action>
         <action
               class="org.seasar.ymir.eclipse.actions.TogglePageAndHtmlAction"
               icon="icons/togglePageAndHtml.gif"
               id="org.seasar.ymir.eclipse.togglePageAndHtmlAction"
               label="%action.togglePageAndHtml"
               menubarPath="org.seasar.ymir.eclipse.menu/additions"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.ymir.eclipse.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="org.seasar.ymir.eclipse.menu"
               label="%plugin.name"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.seasar.ymir.eclipse.veProjectNature">
            </objectState>
         </visibility>
         <action
               class="org.seasar.ymir.eclipse.actions.CreatePathMappingsAction"
               id="org.seasar.ymir.eclipse.createPathMappingsAction"
               label="%action.createPathMappings"
               menubarPath="org.seasar.ymir.eclipse.menu/additions2">
         </action>
         <action
               class="org.seasar.ymir.eclipse.actions.ViewSystemConsoleAction"
               id="org.seasar.ymir.eclipse.viewSystemConsoleAction"
               label="%action.viewSystemConsole"
               menubarPath="org.seasar.ymir.eclipse.menu/additions2">
         </action>
         <action
               class="org.seasar.ymir.eclipse.actions.ViewRootOnServerAction"
               icon="icons/viewRootOnServer.gif"
               id="org.seasar.ymir.eclipse.viewRootOnServerAction"
               label="%action.viewRootOnServer"
               menubarPath="org.seasar.ymir.eclipse.menu/additions2">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.seasar.ymir.eclipse.command.category"
            name="Ve"/>
      <command
            categoryId="org.seasar.ymir.eclipse.command.category"
            id="org.seasar.ymir.eclipse.command.TogglePageAndHtmlAction"
            name="%action.togglePageAndHtml"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.seasar.ymir.eclipse.command.TogglePageAndHtmlAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+5">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.seasar.ymir.eclipse.plugin.actionSet"
            label="Ve"
            visible="true">
         <menu
               id="org.seasar.ymir.eclipse.editor.Actions"
               label="Ve"
               path="Navigate/additions">
            <separator name="additions"/>
         </menu>
         <action
               class="org.seasar.ymir.eclipse.actions.TogglePageAndHtmlAction"
               definitionId="org.seasar.ymir.eclipse.command.TogglePageAndHtmlAction"
               icon="icons/togglePageAndHtml.gif"
               id="org.seasar.ymir.eclipse.action.TogglePageAndHtmlAction"
               label="%action.togglePageAndHtml"
               menubarPath="Navigate/org.seasar.ymir.eclipse.editor.Actions/additions"
               style="push">
         </action>
         </actionSet>
   </extension>

</plugin>
